*{
	box-sizing: border-box;
	font-family: "Lucida Console", "Courier New", monospace;
  	font-size: 16px;
}
body{
	background-color: #11ABB0;
}
.login{
	width: 410px;
	margin: 100px auto;
	box-shadow: 0 0 9px 0 rgba(0, 100, 1, 0.2);
	background-color: white;
}
.login .heading{
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	padding: 20px;
	border-bottom: 3px solid #11ABB0;
}
.login .log_sign{
	text-decoration: none;
	text-align: center;
	padding: 10px;
}
.login .form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
}
.login .form label{
	display: flex;
	justify-content: center;
	height: 50px;
	width: 50px;
	align-items: center;
	background-color: #11ABB0;
	color: white;
}
.login .form input{
	margin-bottom: 20px;
	height: 50px;
	width: 320px;
	border: 0;
	padding: 0 15px;
	border-bottom: 1px solid #11ABB0;
}
.login .form .btn_submit{
	padding: 15px;
	margin-top: 20px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.2s;
}
.login .form .btn_submit:hover{
	color: white;
	background-color: black;
	border-bottom: 4px solid #11ABB0;
}

/*Home Page*/
.navbar{
	background-color: white;
	padding: 20px;
	height: 60px;
	width: 100%;
	border: 0;
}
.navbar div{
	display: flex;
	margin 0 auto;
	height: 100%;
}
.navbar div h1, .navbar div a{
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
.navbar div h1{
	flex: 1;
	font-size: 20px;
	padding: 0;
	margin: 0;.
}
.navbar div a{
	text-decoration: none;
	padding: 0 15px;
	color: black;
}
.navbar div a i{
	padding: 2px 8px 0 0;
}
.navbar div a:hover{
	color: #11ABB0;
}